.runs-display {
  width: 100vw;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: black;
  color: white;
  font-weight: 900;
}

.runs-number {
  font-size: min(65vw, 60vh);
  line-height: 0.85;
}

.runs-label {
  font-size: min(20vw, 15vh);
  line-height: 1;
}