.ScoreKeyboardCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    border-style: solid;
    border-width: thin;
    padding: 10px;
    opacity: 1;
}

.ScoreKeyboardCardOverlay {
    position: absolute;
    z-index: 10;
    font-weight: bold;
    font-size: 20px;
    opacity: 0;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    backdrop-filter: blur(5px);
}

.ScoreKeyboardCardOverlayShow {
    position: absolute;
    z-index: 10;
    font-weight: bold;
    font-size: 20px;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    backdrop-filter: blur(5px);
    height: 100px;
    border-radius: 20px;
}

.ScoreKeyboardRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.ScoreKeyboardElement {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 55px;
    height: 25px;
    border: 2px solid;
    font-size: calc(8px + 2vmin);
}